@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
}
.container {
    max-width: 1440px;
    /*margin: 0 auto;*/
    /*!*padding: 0 15px;*!*/
}

.first {
     padding-top: 103px;
     letter-spacing: 4px;
     font-size: 40px;
     font-weight: bold;
}
.second {
    font-size: 18px;
    letter-spacing: 0.4px;
    padding-bottom: 35px;
}
p {
    color: black;
    text-align: center;
    margin: 0 0 27px;
}

.main-header {
    background: #87509C;
}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 78px;
     box-sizing: border-box;
     padding: 0 173px 0 212px;
}

.header-logo {
    padding: 60px 0 48px 0;
}
.header-navigation {
}
.header-list {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-list a {
    letter-spacing: 0.3px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 17px 9px 17px;
}
.header-list a:hover {
    text-decoration: none;
    background: #643A79;
    border-radius: 3px;
    background-size: cover;
}
.header-list li {
    margin-right: 8px;
}
.header-content {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.2px;
    line-height: 49px;
    margin-bottom: 75px;
}
.header-content h1 {
    margin: 0;
}
.header-button {
    text-align: center;
    margin: auto;
    padding: 63px 0 131px;
}
a.welcom-button {
    background: rgb(255,156,8);
    box-shadow: 0 -3px rgb(201,123,6) inset;
    font-weight: bolder;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 21px 84px;
    border-radius: 3px;
    transition: 0.2s;
}
a.welcom-button:hover { background: rgb(201,123,6); }
a.welcom-button:active {
    background: rgb(168,103,5);
    box-shadow: 0 3px rgb(168,103,5) inset;
}
.main-sv {
    background: #17C2A4;
}
.main-sv p {
    color: white;
}
.sv-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 171px 117px;
}
.sv-items div {
    max-width: 260px;
    color: white;
    text-align: center;
}
.sv-title {
    font-size: 22px;
    font-weight: bold;
    padding-top: 48px;
    letter-spacing: 1.2px;
}
.sv-list h4 {
    font-size: 16px;
    font-weight: lighter;
    margin: -3px 0 0 0;
}

.main-tm {
    background: #E7F1F8;
}
.tm-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 119px;
}
.tm-items div {
    color: black;
    text-align: center;
    margin-bottom: 42px;
}

.tm-list {}
.tm-title {
    font-size: 22px;
    font-weight: bold;
    padding-top: 28px;
    letter-spacing: 1.8px;
    line-height: 29px;
}
.position {
    color: #30BAE7;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.3px;
}
.tm-list h4 {
    font-size: 16px;
    font-weight: lighter;
    margin: -3px 0 26px 0;
}
.tm-contact {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.tm-contact a {
    padding: 0 6px;
}
.main-sk {
    background: #FFFFFF;
}
.sk-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 93px;
}
.sk-list div:nth-child(-n+3) {
    margin-right: 32px;
}
.main-pf {
    background: #FFDD99;
}
.content {
    text-align: center;
}
.tabs_items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs_items a:nth-child(-n+3) {
    margin-right: 10px;
}
.tabs-item {
    letter-spacing: 0.3px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    background-image: url("img/Pasive.png");
    border-radius: 3px;
    background-size: cover;
}
.tabs_items a:nth-child(1) {
    padding: 0.4% 2%;
}
.tabs_items a:nth-child(2) {
    padding: 0.4% 1.5%;
}
.tabs_items a:nth-child(3) {
    padding: 0.4% 1.5%;
}
.tabs_items a:nth-child(4) {
    padding: 0.4% 1.5%;
}
.tabs_items a:hover {
    text-decoration: none;
    background-image: url("img/Active.png");
    border-radius: 3px;
    background-size: cover;
}
.tabs_block {
    padding-top: 62px;
}
.tabs_block img:nth-child(1) {
    padding: 0 16px 53px 0;
}
.tabs_block img:nth-child(2) {
    padding-bottom: 53px;
}
.tabs_block img:nth-child(3) {
    padding-right: 15px;
}
.Portfolio-button {
    text-align: center;
    margin: auto;
    padding: 63px 0 131px;
}
.pf-button {
    font-weight: bolder;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 21px 58px;
    border-radius: 3px;
    background: rgb(23,194,164);
    box-shadow: 0 -3px rgb(14,125,106) inset;
    transition: 0.2s;
}
.pf-button:hover { background: rgb(14,125,106); }
.pf-button:active {
    background: rgb(11, 93, 78);
    box-shadow: 0 3px rgb(11, 93, 78) inset;
}
.main-us {
    background: #D74680;
}

.main-us p {
    color: white;
}
.us-item {
    display: flex;
    margin-bottom: 111px;
}
.comment {
    margin-left: 49px;
}
.comment p {
    text-align: start;
}
.text {
    font-size: 21px;
    font-style: italic;
    margin-bottom: 18px;
}
.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2px;
}
p.posit {
    color: #FFDD99;
    font-size: 18px;
}
.us-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 130px 89px 170px;
    justify-content: space-between;
}
.main-ms {
    background: #3C5499;
    border-bottom: 2px solid #707070;
}
.main-ms p {
    color: white;
}
.form {
     display: flex;
     flex-direction: column;
     align-items: center;
     box-sizing: border-box;
     padding: 12px 35px 0;
 }
.form-ne {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    padding: 12px;
}
::placeholder {
    color: white;
    font-size: 18px;
}
.name_ms, .email_ms, .text-ar {
    background: #273A71;
    border-color: transparent;
    border-radius: 3px;
    outline: none;
    padding: 20px 0 16px 22px;
}
.name_ms, .email_ms {
    width: 386px;
}
.name_ms {
    margin-right: 32px;
}
.text-ar {
    margin-top: 26px;
    width: 834px;
}
.Message-button {
    text-align: center;
    margin: auto;
    padding: 91px 0 136px;
}
.ms-button {
    font-weight: bolder;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 21px 84px;
    border-radius: 3px;
    background: #30BAE7;
    box-shadow: 0 -3px #2588A8 inset;
    transition: 0.2s;
}
.ms-button:hover { background: #2588A8; }
.ms-button:active {
    background: #1A6179;
    box-shadow: 0 3px #1A6179 inset;
}
.f-navigation {
    background: #344B8E;
}
.f-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 250px 0;
    margin: 0;
}
.f-list a {
     color: white;
     font-size: 24px;
     font-weight: bolder;
     text-decoration: none;
}
.f-list a:hover {
    text-decoration: none;
    color: #30BAE7;
}
.f-list li {
    margin: 37px 0;
}
@media (max-width: 1440px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 12px 35px 0;
    }
    .tm-items {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         box-sizing: border-box;
         padding: 0 80px 119px;
     }
    .f-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 70px 0;
        margin: 0;
    }
}
@media (max-width: 1435px) {
    .container{
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }
    .header-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 78px;
        box-sizing: border-box;
        padding: 0 173px 0 212px;
    }
    .header-content{
        text-align: center;
        color: white;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1.2px;
        line-height: 49px;
        margin-bottom: 75px;
    }
    .sv-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 50px 117px;
    }
    .us-list {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 35px 50px;
        align-items: center;
    }
    .name_ms {
        margin: 0 0 26px;
    }
    .text-ar {
        margin-top: 16px;
        width: 386px;
    }
    .Message-button {
        text-align: center;
        margin: auto;
        padding: 70px 0 90px;
    }
    .f-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0px 20px 0;
        margin: 0;
    }
    .f-list a {
        color: white;
        font-size: 15px;
        font-weight: bolder;
        text-decoration: none;
    }
    .f-list li {
        margin: 20px 0;
    }
}
@media (max-width: 767px) {
    .container{
        max-width: none;
    }
}

@media (max-width: 660px) {
    .header-content{
        text-align: center;
        color: white;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.2px;
        line-height: 35px;
        margin-bottom: 75px;
    }
    .header-list a {
         letter-spacing: 0.3px;
         text-decoration: none;
         color: white;
         font-size: 12px;
         padding: 3px 3px;
     }
    a.welcom-button {
        font-weight: bolder;
        color: white;
        font-size: 12px;
        text-decoration: none;
        padding: 11px 25px;
        border-radius: 3px;
        background: rgb(255,156,8);
        box-shadow: 0 -3px rgb(201,123,6) inset;
        transition: 0.2s;
    }
    .sv-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 0 35px 55px;
    }
    .sv-items div {
        max-width: 260px;
        color: white;
        text-align: center;
        margin-bottom: 26px;
    }
    .sv-title {
        font-size: 22px;
        font-weight: bold;
        padding-top: 20px;
        letter-spacing: 1.2px;
    }
    .tabs_block img {
        width: 100%;
    }
    .pf-button {
        font-weight: bolder;
        color: white;
        font-size: 12px;
        text-decoration: none;
        padding: 11px 25px;
        border-radius: 3px;
        background: rgb(23,194,164);
        box-shadow: 0 -3px rgb(14,125,106) inset;
        transition: 0.2s;
    }
    .us-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .comment {
        margin-left: 0;
    }
    .comment p {
        text-align: center;
    }
    .text {
        font-size: 15px;
        font-style: italic;
        margin-bottom: 18px;
    }
    .name_ms, .email_ms {
        width: 220px;
    }
    .text-ar {
        margin-top: 16px;
        width: 220px;
    }
    .Message-button {
        text-align: center;
        margin: auto;
        padding: 70px 0 70px;
    }
    .ms-button {
        font-weight: bolder;
        color: white;
        font-size: 12px;
        text-decoration: none;
        padding: 11px 25px;
        border-radius: 3px;
        background: #30BAE7;
        box-shadow: 0 -3px #2588A8 inset;
        transition: 0.2s;
    }
    .f-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 5px 0;
        margin: 0;
    }
    .f-list a {
        color: white;
        font-size: 9px;
        font-weight: bolder;
        text-decoration: none;
    }
    .f-list li {
        margin: 10px 0;
    }
}
@media (max-width: 640px) {
    .header-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 78px;
        box-sizing: border-box;
        padding: 0 50px 0 50px;
    }
    .header-content{
        text-align: center;
        color: white;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.2px;
        line-height: 35px;
        margin: 0 1px 20px 1px;
    }

}